#gallery {

  .preview {

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);


    .box {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      cursor: pointer;
    }


    img {
      width: 100%;

      height: 100%;
      opacity: 0.75;
      overflow: hidden;

      transition-timing-function: ease-in;
      transition: 1.5s;
    }

    img:hover {

      -moz-transform: scale(1.25);
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
      transition-timing-function: ease-in;
      transition: 1.5s;
    }
  }

  .img-0 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      opacity: 0.7;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0.75;
      transition-timing-function: ease-in;
      transition: 1.5s;
    }

    // bring in main color overlay

    &:hover:before {
      transition: 0.5s;
      background: $green-color;
    }

    .text-info {
      position: absolute;
      font-size: 14px;
      top: 80%;
      left: 4%;
      color: $white-color;
      text-transform: uppercase;


      .image-desc {
        font-family: 'MyriadProItalic', sans-serif;
      }
    }
  }

  .img-1 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      opacity: 0.7;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0.75;
      transition-timing-function: ease-in;
      transition: 1.5s;
    }

    // bring in main color overlay

    &:hover:before {
      transition: 0.5s;
      background: $green-color;
    }

    .text-info {
      font-size: 12px;
      width: 13rem;
      position: absolute;
      top: 70%;
      left: 4%;
      color: $white-color;
      text-transform: uppercase;
    }
  }

  .img-3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 1;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      opacity: 0.7;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0.75;
      transition-timing-function: ease-in;
      transition: 1.5s;
    }

    // bring in main color overlay

    &:hover:before {
      transition: 0.5s;
      background: $green-color;
    }

    .text-info {
      font-size: 12px;
      width: 13rem;
      position: absolute;
      top: 70%;
      left: 4%;
      color: $white-color;
      text-transform: uppercase;
    }
  }

  .img-2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      opacity: 0.7;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0.75;
      transition-timing-function: ease-in;
      transition: 1.5s;
    }

    // bring in main color overlay

    &:hover:before {
      transition: 0.5s;
      background: $green-color;
    }

    .text-info {
      font-size: 12px;
      width: 13rem;
      position: absolute;
      top: 60%;
      left: 4%;
      color: $white-color;
      text-transform: uppercase;
    }
  }

  .img-4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      opacity: 0.7;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0.75;
      transition-timing-function: ease-in;
      transition: 1.5s;
    }

    // bring in main color overlay

    &:hover:before {
      transition: 0.5s;
      background: $green-color;
    }

    .text-info {
      font-size: 12px;
      width: 13rem;
      position: absolute;
      top: 70%;
      left: 4%;
      color: $white-color;
      text-transform: uppercase;
    }
  }

  .button-gray {
    padding-top: 6rem;
    text-align: center;
  }
}