@import '_gallery';


@media(min-width: 1024px) {
  #testimonials {
    #bullets {
      display: none;
    }
  }


}

@media(max-width: 500px) {
  // Navigation

  body {
    max-width: 100%;
    max-height: 100%;
  }

  #main-nav {

    #logo {
      padding-left: 3rem;
      padding-bottom: 1rem;
    }

    .menu {
      display: none;
    }

    .hamburger-icon {
      display: inline-block !important;

      &:hover {
        background: transparent;
      }


    }

    h1,
    .button-light {
      padding-left: 3rem;
    }
  }

  // Homepage header
  #header {
    &-homepage {
      .video-header {
        background: url(/images/mobile/Homepage.png);
        height: 100vh;
        width: 100vw;
        color: #fff;

        .title {
          padding-top: 10vh;
          padding-left: 3rem;
          font-size: 2.4rem;
          width: 70vw;
        }

        .subtitle {
          padding-left: 3rem;
          padding-top: 2rem;
        }

        .mouse,
        .arrow {
          display: none;
        }

        .button-light {
          padding-top: 2rem;
          padding-left: 3rem;
        }
      }
    }
  }

  // Articles 
  #info {
    .credentials {
      grid-template-columns: repeat(1, 1fr) !important;

      .black-text {
        padding-left: 3rem;
        width: 70vw;
        color: #000;
        margin-bottom: 5vh;
      }

      .gray-text {
        padding-left: 3rem;
        width: 70vw !important;
        color: rgba(90, 86, 86, 0.774);
        padding-right: 50%;
      }
    }
  }

  //Gallery 
  #gallery {

    .preview {
      height: 150vh;
      display: flex;
      flex-direction: column;

      .box {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        cursor: pointer;
      }

      .img-3,
      .img-4 {
        display: none;
      }
    }
  }


  // Testimonials

  #testimonials {
    padding-top: 30vw;

    .section-title {

      padding-left: 2rem !important;
      max-height: 100px;
      height: 100%;

    }

    .glider {

      .glider-prev,
      .glider-next {
        display: none;
      }
    }

    #bullets {
      position: absolute;
      top: 95%;
      left: 35vw;
    }

    .testimonial-1 {
      .quotes {

        max-height: 100px;
        height: 100%;
        padding-bottom: 7rem;

        img {
          position: relative;
          height: 30vh;
          width: 65vw;
          padding-left: 10vw;
          transform: scale(0.8);
        }

        .details {
          padding-left: 50vw;
        }

        h4 {
          color: rgb(165, 152, 152);
        }
      }

      .bio {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-bottom: 5rem;

        .person-desc {
          width: 80vw;
          font-family: "MyriadProItalic", sans-serif;
          padding-left: 2rem;
        }

        img {
          position: relative;
          padding-top: 1rem;
          right: 25vw;
        }
      }
    }
  }



  // Brands Section

  #brands {
    //   &-a {
    //     background-color: #111;
    //     height: 80vh;
    //     width: 100vw;

    //     .brands {
    //       display: none;
    //     }

    //     #dots {
    //       top: 10%;
    //       padding-bottom: 2rem;
    //     }

    //     .section-title {
    //       padding-top: 3rem;
    //       padding-left: 10rem;

    //       h4 {
    //         display: inline-block;
    //         color: rgb(165, 152, 152);
    //         margin-left: 1rem;
    //       }

    //       img {
    //         text-align: center;
    //         margin-bottom: 0.2rem;
    //       }
    //     }

    //     .brands {

    //       .grouped {
    //         display: grid;
    //         grid-template-columns: repeat(1, 1fr);
    //         align-content: center;
    //         align-items: center;
    //       }
    //     }
    //   }

    &-b {
      padding-top: 3rem;
      background-color: #111;

      .posters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;

        img {
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  //footer 

  #main-footer {
    width: 100vw;
    height: 40vh;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
    max-width: 100%;

    span {

      display: block;
    }

    .details {
      padding-left: 2rem;
      color: $gray-color;
    }

    .address {
      padding-left: 2rem;
      text-align: left;

      .footer-title {

        font-family: 'MyriadProBold', sans-serif;
        padding-bottom: 1rem;
      }
    }

    .copyrights {
      padding-left: 2rem;
      width: 100vw;
      flex-direction: column;




      p {
        color: $gray-color;
      }

      .links {
        height: 8vh;
        width: 90vw;
        display: flex;
        align-content: space-between;

        a {
          text-transform: capitalize;
          margin-right: 1.2rem;
          color: #000;
          font-family: 'MyriadSemiBold', sans-serif;
        }
      }
    }
  }
}