@import '_gallery';


@media(min-width: 1024px) {
  #testimonials {
    #bullets {
      display: none;
    }
  }
}

@media(max-width: 500px) {
  // Navigation

  #main-nav {

    #logo {
      padding-left: 3rem;
      padding-bottom: 1rem;
    }

    .hamburger-icon {
      display: inline-block !important;

      &:hover {
        background: transparent;
      }
    }

    .menu {
      display: none;
    }

    h1,
    .button-light {
      padding-left: 3rem;
    }
  }

  // Homepage header
  #header {
    &-homepage {
      .video-header {
        background: url(/images/mobile/Homepage.png) no-repeat center center;
        height: 100vh;
        width: 100vw;
        color: #fff;

        .title {
          padding-top: 10vh;
          padding-left: 3rem;
          font-size: 2.4rem;
          width: 70vw;
        }

        .subtitle {
          padding-left: 3rem;
          padding-top: 2rem;
        }

        .mouse,
        .arrow {
          display: none;
        }

        .button-light {
          padding-top: 2rem;
          padding-left: 3rem;
        }
      }
    }
  }

  // Articles 
  #info {
    height: 80vh;
    width: 100vw;

    .credentials {
      display: none;
      grid-template-columns: repeat(1, 1fr);
      text-align: left;


      .black-text {
        padding-left: 3rem;
        top: 60%;
        width: 17rem;
        color: #000;
      }

      .gray-text {

        width: 21rem;
        top: 50%;
        color: rgba(90, 86, 86, 0.774);
        padding-right: 50%;
      }
    }
  }

  //Gallery 
  #gallery {

    .preview {
      height: 150vh;
      display: flex;
      flex-direction: column;

      .box {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        cursor: pointer;
      }

      .img-3,
      .img-4 {
        display: none;
      }
    }
  }


  // Testimonials

  #testimonials {
    padding-top: 30vw;

    .section-title {

      padding-left: 2rem !important;
      max-height: 100px;
      height: 100%;

    }

    .glider {

      .glider-prev,
      .glider-next {
        display: none;
      }
    }

    #bullets {
      position: absolute;
      top: 95%;
      left: 35vw;
    }

    .testimonial-1 {
      .quotes {

        max-height: 100px;
        height: 100%;
        padding-bottom: 7rem;

        img {
          position: relative;
          height: 30vh;
          width: 65vw;
          padding-left: 10vw;
          transform: scale(0.8);

        }

        .details {
          padding-left: 50vw;
        }

        h4 {
          color: rgb(165, 152, 152);
        }
      }

      .bio {

        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-bottom: 5rem;

        .person-desc {
          width: 20rem;
          font-family: "MyriadProItalic", sans-serif;
          padding-left: 2rem;
        }

        img {
          position: relative;
          padding-top: 1rem;
          right: 25vw;
        }

      }
    }

  }
}